<html>

<head>
  <style>
    div.dataTables_wrapper div.dataTables_filter input {
      background-color: #201f1f;
      color: white;
    }

    div.dataTables_wrapper div.dataTables_info {
      font-size: 25px;
      margin-left: 30px;
    }

    div.dataTables_wrapper div.dataTables_filter {
      text-align: right;
      margin-bottom: 30px;
      margin-top: 30px;
    }

    div.dataTables_wrapper div.dataTables_filter input {
      margin-right: 30px;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">

  <title></title>
</head>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
  (async () => {
    $(document).ready(function () {
      $("#myTable").DataTable({
        'processing': true,
        'serverSide': true,
        'searching': true,
        'ordering': true,
        'paging': true,
        'pageLength': 10,
        'lengthMenu': [[5, 10, 15, 20, 25, 30, 35, 40, 50, 60], [5, 10, 15, 20, 25, 30, 35, 40, 50, 60]],
        'serverMethod': 'get',
        'ajax': {
          'url': '/get_data'
        },
        'aaSorting': [],
        'columns': [
          { data: 'user_id' },
          { data: 'is_default' },
          { data: 'site_user.firstName' },
          { data: 'site_user.lastName' },
          { data: 'site_user.email' },
          { data: 'site_user.phone_number' },
          { data: 'site_user.addresses[0].street_number' },
          { data: 'site_user.addresses[0].address_line_1' },
          { data: 'site_user.addresses[0].city' },
          { data: 'site_user.addresses[0].country.country_name' },
        ],
      });
    });
  })()

</script>
</head>

<body>
  <table id="myTable" class="table table-dark table-striped">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Is Default</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-Mail</th>
        <th>Phone-Number</th>
        <th>Street Number</th>
        <th>Address</th>
        <th>City</th>
        <th>Country Name</th>
      </tr>
    </thead>

    <tbody>

    </tbody>
  </table>
</body>

</html>